body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(180deg, rgba(253,115,246,1) 0%, rgba(255,161,252,1) 100%);
    background-attachment:fixed;
}
    body::-webkit-scrollbar {
        width: 0.01em;
    }

    @font-face {
        font-family: Header;
        src: url(fonts/header.ttf);
    }

    @font-face {
        font-family: SuperMario;
        src: url(fonts/supermario.ttf);
    }

    code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
    font-family: Header;
    font-size: 8vw;
    text-align:center;
    margin-top: 0px;
    margin-bottom: 25px;
}

button{
    font-family: SuperMario;
    margin-right: 20px;
    margin-left:20px;
    background: none;
    border: none;
    font-size: 1.5vw;
}
    button:hover {
        transform: scale(1.1);
        transition: all .5s ease-in-out;
    }    
a{
    color: black;
    text-decoration: none;
}

p{
    text-align: center;
    font-family: SuperMario;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.1vw;
}

#horizontal{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right:auto;
}

#fanfic{
    font-size: .9vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}